a{
    text-decoration: none;
    left: 200px;
    top: 300px;
}
p{

    font-size: larger;
}
.image1{
    position: relative ;
    top: 2px;
    left:700px;
    height: 900px;
    width: 430px;
    border: 1px solid white;
}

.image2{
    position: absolute;
    top: 160px;
    left: 300px;
    height: 900px;
    width: 500px;
    border: 1px solid  white;
}

.centered4{
    position: absolute;
    top: 1080px;
    color: rgb(62, 222, 62);
    font-size: 20px;
    left: 470px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)

}

.centered5{
    position: absolute;
    top: 1100px;
    color: rgb(194, 205, 194);
    font-size: 9px;
    left: 415px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)

}

.centered6{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1000px;
}

.centered7{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1030px;

}
.centered8{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1060px;

}

.centered9{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1090px;

}
.centered1{
    position: absolute;
    top: 200px;
    color: rgb(68, 138, 68);
    font-size: 40px;
    left: 370px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}
.centered2{
    position: absolute;
    top: 250px;
    color: rgb(118, 191, 118);
    font-size: 30px;
    left: 380px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}
.centered21{
    position: absolute;
    top: 330px;
    line-height: 30px;
    color: rgb(144, 209, 144);
    font-size: 15px;
    left: 520px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}
.centered23{
    position: absolute;
    top: 550px;
    color: rgb(144, 209, 144);
    font-size: 15px;
    left: 520px;
    line-height: 30px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}
.centered25{
    position: absolute;
    top: 790px;
    color: rgb(144, 209, 144);
    font-size: 15px;
    left: 520px;
    line-height: 30px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}

.centered22{
    position: absolute;
    top: 460px;
    color: rgb(118, 191, 118);
    font-size: 30px;
    left: 400px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}
.centered24{
    position: absolute;
    top: 700px;
    color: rgb(118, 191, 118);
    font-size: 30px;
    left: 380px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)
}

