a{
    text-decoration: none;
    left: 200px;
    top: 300px;
}
p{

    font-size: larger;
}

/*.image2{
    position: absolute;
    top: 160px;
    left: 300px;
    height: 900px;
    width: 850px;
    border: 1px solid  white;
}*/

.centered4{
    position: absolute;
    top: 1080px;
    color: rgb(62, 222, 62);
    font-size: 20px;
    left: 470px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)

}

.centered5{
    position: absolute;
    top: 1100px;
    color: rgb(194, 205, 194);
    font-size: 9px;
    left: 415px;
    font-family: 'nixie_oneregular';
    transform:translate(-50%,-50%)

}

.centered6{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1000px;
}

.centered7{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1030px;

}
.centered8{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1060px;

}

.centered9{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 1070px;
    left: 1090px;

}



#mahi{
    width: 900px;
    height: 900px;
    background-color: white;
    margin-left: 250px;
    margin-top: -15px;
    text-align: center;
    color: #99fa99;
    margin-top: -10px;
    margin-right: 200px;
}

h2{
    color: #21a51e;
    font-family: 'nixie_oneregular';
    text-align: left;
    font-size:x-large;
    padding-top: 20px;
    padding-left: 20px;

}
#q{
    color: #29a827;
    background-color: #315f52;
    width: 50px;
    padding-left: 50px;
    margin-left: 400px;
    border: #18d39e;
    font-family: 'nixie_oneregular';
    border-radius: 5px;
}
#q:hover{
    color: black;
    background-color: rgb(183, 85, 122);
}

.y{
    background: #d1d3d4;
    border: 1px solid #b6d8cf;
    color: #315f52;
    width: 500px;
    height: 30px;
}
textarea{
    background: #d1d3d4;
    border: 1px solid #b6d8cf;
    color: #315f52;
    width: 500px;
    padding-left: 10px;
    margin-left: 400px;

    
}

label{
    color: #315f52;
    margin-left:-450px;
}

#z{
    color: #315f52;
    margin-left:-450px;


}
#l{
    margin-left:-800px;
    padding-top: 20px;
}
#d{
    text-align: center;
    padding-top: 100px;
}